@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* style général */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    background: rgb(216, 62, 24);
}

button{
    display: inline-block;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
}



/* conteneur */

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background: rgb(15, 15, 15);
    border-radius: 5px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* éléments */

.btns > *{
    margin: 0 10px;
    background: grey;
    color: white;
}

p{
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
    margin-top: 30px;
}


#start{
    color: black;
    background: white;
}

.actions{
    display: none;
}

.active{
    background: rgb(216, 62, 24);
}


